One Hot Encoding

In [ ]:
import pandas as pd
from sklearn import linear_model
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn import svm
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [ ]:
url="https://www.w3schools.com/python/cars.csv"
df=pd.read_csv(url)
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [ ]:
Car_dummies=pd.get_dummies(df.Car)
Car_dummies

    Audi  BMW  Fiat  Ford  Honda  ...  Skoda  Suzuki  Toyoty  VW  Volvo
0      0    0     0     0      0  ...      0       0       1   0      0
1      0    0     0     0      0  ...      0       0       0   0      0
2      0    0     0     0      0  ...      1       0       0   0      0
3      0    0     1     0      0  ...      0       0       0   0      0
4      0    0     0     0      0  ...      0       0       0   0      0
5      0    0     0     0      0  ...      0       0       0   1      0
6      0    0     0     0      0  ...      1       0       0   0      0
7      0    0     0     0      0  ...      0       0       0   0      0
8      0    0     0     1      0  ...      0       0       0   0      0
9      1    0     0     0      0  ...      0       0       0   0      0
10     0    0     0     0      0  ...      0       0       0   0      0
11     0    0     0     0      0  ...      0       1       0   0      0
12     0    0     0     1      0  ...      0       0       0   0      0
13     0    0     0     0      1  ...      0       0       0   0      0
14     0    0     0     0      0  ...      0       0       0   0      0
15     0    0     0     0      0  ...      0       0       0   0      0
16     0    1     0     0      0  ...      0       0       0   0      0
17     0    0     0     0      0  ...      0       0       0   0      0
18     0    0     0     0      0  ...      1       0       0   0      0
19     0    0     0     1      0  ...      0       0       0   0      0
20     0    0     0     1      0  ...      0       0       0   0      0
21     0    0     0     0      0  ...      0       0       0   0      0
22     0    0     0     0      0  ...      0       0       0   0      0
23     0    0     0     0      0  ...      1       0       0   0      0
24     0    0     0     0      0  ...      0       0       0   0      1
25     0    0     0     0      0  ...      0       0       0   0      0
26     1    0     0     0      0  ...      0       0       0   0      0
27     1    0     0     0      0  ...      0       0       0   0      0
28     0    0     0     0      0  ...      0       0       0   0      1
29     0    1     0     0      0  ...      0       0       0   0      0
30     0    0     0     0      0  ...      0       0       0   0      0
31     0    0     0     0      0  ...      0       0       0   0      1
32     0    0     0     1      0  ...      0       0       0   0      0
33     0    1     0     0      0  ...      0       0       0   0      0
34     0    0     0     0      0  ...      0       0       0   0      0
35     0    0     0     0      0  ...      0       0       0   0      0

[36 rows x 17 columns]

In [ ]:
Car_dummies=pd.get_dummies(df.Car)
Model_dummies=pd.get_dummies(df.Model)
X=pd.concat([df[["Volume",	"Weight"]], Car_dummies, Model_dummies], axis=1)
print(X.head())
y=df['CO2']
print(y.head())
print(X.describe())
print(y.describe())

   Volume  Weight  Audi  BMW  Fiat  ...  Swift  Up!  V70  XC70  Zafira
0    1000     790     0    0     0  ...      0    0    0     0       0
1    1200    1160     0    0     0  ...      0    0    0     0       0
2    1000     929     0    0     0  ...      0    0    0     0       0
3     900     865     0    0     1  ...      0    0    0     0       0
4    1500    1140     0    0     0  ...      0    0    0     0       0

[5 rows x 54 columns]
0     99
1     95
2     95
3     90
4    105
Name: CO2, dtype: int64
            Volume       Weight       Audi  ...        V70       XC70     Zafira
count    36.000000    36.000000  36.000000  ...  36.000000  36.000000  36.000000
mean   1611.111111  1292.277778   0.083333  ...   0.027778   0.027778   0.027778
std     388.975047   242.123889   0.280306  ...   0.166667   0.166667   0.166667
min     900.000000   790.000000   0.000000  ...   0.000000   0.000000   0.000000
25%    1475.000000  1117.250000   0.000000  ...   0.000000   0.000000   0.000000
50%    1600.000000  1329.000000   0.000000  ...   0.000000   0.000000   0.000000
75%    2000.000000  1418.250000   0.000000  ...   0.000000   0.000000   0.000000
max    2500.000000  1746.000000   1.000000  ...   1.000000   1.000000   1.000000

[8 rows x 54 columns]
count     36.000000
mean     102.027778
std        7.454571
min       90.000000
25%       97.750000
50%       99.000000
75%      105.000000
max      120.000000
Name: CO2, dtype: float64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=0)

In [ ]:

regr=linear_model.LinearRegression()
regr.fit(X_train,y_train)
predict_y_test_regr=regr.predict(X_test)
print(predict_y_test_regr)
print(mean_squared_error(predict_y_test_regr,y_test))
print(r2_score(predict_y_test_regr,y_test))

[108.07201206 107.78109147 105.3179952  106.88892967 103.09391822
 102.84743139  97.94347324  95.00037312  97.70159872 109.89426141
 107.64399496]
45.04892598996786
-0.9967160995651052

RandomForest

In [ ]:
#RandomForest
modelRF= RandomForestClassifier(n_estimators=10000)
modelRF.fit(X_train, y_train)
predict_y_test_RF=modelRF.predict(X_test)
print(predict_y_test_RF)
print(mean_squared_error(predict_y_test_RF,y_test))
print(r2_score(predict_y_test_RF,y_test))

[ 99 104 108  99 120  99  99  90  90  99 104]
152.45454545454547
-1.4304347826086956

In [ ]:
#kNN
modelkNN=KNeighborsClassifier(n_neighbors=6)
modelkNN.fit(X_train, y_train)
predict_y_test_kNN=modelkNN.predict(X_test)
print(predict_y_test)
print(mean_squared_error(predict_y_test_kNN,y_test))
print(r2_score(predict_y_test_kNN,y_test))

[ 99 104 108 102 120  99  99  90  90  99 104]
130.45454545454547
-3.0515913757700215

In [ ]:
#Naive Bayes
modelNB=GaussianNB()
modelNB.fit(X_train, y_train)
predict_y_test_NB=modelNB.predict(X_test)
print(predict_y_test_NB)
print(mean_squared_error(predict_y_test_NB,y_test))
print(r2_score(predict_y_test_NB,y_test))

[ 99 105 109 105 105 109  90  90  90 105 104]
112.0909090909091
-1.170774647887324

In [ ]:
#SVM
modelsvm = svm.SVC()
modelsvm.fit(X_train, y_train)
predict_y_test_svm=modelsvm.predict(X_test)
print(predict_y_test_svm)
print(mean_squared_error(predict_y_test_svm,y_test))
print(r2_score(predict_y_test_svm,y_test))

[99 99 99 99 99 99 99 99 99 99 99]
98.0909090909091
0.0